* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

html {
    background: var(--Light-blue-light-blue-100, #F3F5FC);
}

/* NAV SECTION */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 70rem;
    padding: 2.5rem 0;
   /*border: 1px solid;*/
}

.nav-logo-container, .ul-container, .nav-social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-container {
    list-style: none;
}


.nav-logo {
    height: 3rem;
    width: 7.5rem;
}

.nav-li {
    margin: 0 1.25rem;
}

.nav-li:hover {
    transform: translateY(-1px);
}

.nav-li:active {
    transform: translateY(1px);
}

.nav-li-link {
    text-decoration: none;
    color: #0A3871;
    font-weight: 600;
    white-space: nowrap;
}

.nav-li-link:hover {
    color: rgb(94, 94, 94);
}

.bxl-linkedin-square {
    font-size: 2.5rem;
    color: #0077B5;
    margin-right: 0.5rem;
}

.bxl-github {
    margin-left:0 0.5rem;
    margin-right: 3rem;
    font-size: 2.5rem;
    color: black;
}

.bxl-github:hover, .bxl-linkedin-square:hover {
    transform: translateY(-1px);
}

.hamburger-menu i {
    font-size: 2.5rem;
    margin-right: 3rem;
    height: 3rem;
    cursor: pointer;
}

.hamburger-menu i:active {
    transform: scale(0.9);
    transform: translateY(0.9);
}

.hamburger-menu {
    display: none;
}

/* NAV SECTION END*/

/* MAIN SECTION */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#encriptador-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    /*border: 1px solid;*/
}

.input-container {
    height: 56.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
    width: 50%;
    min-width: 20.625rem;
    min-height: 18.75rem;
}
 
#input-area {
    max-width: 100%;
    min-width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(10, 56, 113, 0.2);
    height: 100%;
    background: none;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    color: rgba(10, 56, 113, 1);
}

#input-area::placeholder {
    color: rgba(10, 56, 113, 0.2);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
}

#input-area:focus {
    border: 1px solid rgba(10, 56, 113, 0.5);
    outline: none;
}

.input-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    min-width: 100%;
}

.both-btns {
    appearance: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    min-height: 2rem;
    width: 100%;
}

.encriptar-btn {
    background-color: #0A3871;
    color: white;
    border: none;
    margin-right: 0.5rem;
}

.desencriptar-btn {
    color: #0A3871;
    border: 1px solid #0A3871;
    background: none;
    margin-left: 0.5rem;
}

.copiar-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    min-width: 100%;
    
}

.copiar-btn {
    appearance: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    min-height: 2rem;
    width: 100%;
    color: #0A3871;
    border: 1px solid #0A3871;
    background: none;
}

.copiar-btn-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    min-width: 100%;
    
}

.copiar-btn2 {
    appearance: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    min-height: 2rem;
    width: 100%;
    color: #0A3871;
    border: 1px solid #0A3871;
    background: none;
}

.output-container {
    flex-direction: column;
    height: 56.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    max-width: 50%;
    min-width: 20.625rem;
    min-height: 18.75rem;
}

#output-text {
    /*border: 1px solid rgba(10, 56, 113, 0.2);*/
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    color: rgba(10, 56, 113, 1);
}

/* MAIN SECTION END */

/* FOOTER */

.ul-footer-container {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
}

.nav-li-footer {
    margin: 0 2rem;
}

.nav-li-link-footer {
    text-decoration: none;
    color: rgba(10, 56, 113, 1);
}

@media (max-width: 768px) {
    .ul-container, .nav-social-container {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    #encriptador-area {
        flex-direction: column;
    }
    .input-btns {
        flex-direction: column;
    }
    .desencriptar-btn {
        margin-top: 1rem;
    }
    .input-container, .output-container {
        height: 28.125rem;
    }
    .encriptar-btn {
        margin-right: 0;
    }
    .desencriptar-btn {
        margin-left: 0;
    }

}